@import-sanitize;

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #0f0c29;  */
    /* background: linear-gradient(to left, #24243e, #302b63, #0f0c29);  */

    /* background-image: radial-gradient(circle farthest-corner at 50.5% 55%, rgba(12, 23, 158, 1) 0%, rgba(0, 18, 71, 1) 67.9%); */


  background: #000428;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #004e92, #000428);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #004e92, #000428);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}